MYSQL_DATABASE=<enter a db name here, e.g. someMeaningfulDBName>
MYSQL_USER=<enter a mysql user here, e.g. Bob>
MYSQL_PASSWORD=<enter the mysql user password here, e.g. someRandomPassword>
MYSQL_ROOT_PASSWORD=<enter the mysql root password here, e.g. someSuperSecurePassword>
VITE_API_BASE_URL=<enter the base url for the API here, e.g. http://localhost:8080>

