body.about-body {
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
  overflow-x: hidden;
}

.about-page {
  display: flex;
  flex-direction: column;
  min-height: 150vh;
  position: relative;
}



.section-bar {
  background-color: #b44b25;
  width: 100%;
  height: 300px;
  padding: 40px 0;
  text-align: center;
  color: white;
}

.section-bar h1 {
  font-size: 36px;
  font-family: 'Hind Kochi', sans-serif;
  margin-bottom: 30px;

}

.section-bar p {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Hind Kochi', sans-serif;
}



.about-content {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: 'Hind Kochi', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.the-rest {
  position: relative;
}

.the-rest h2 {
  font-size: 36px;
  font-family: 'Hind Kochi', sans-serif;
  margin-bottom: 30px;
  font-weight: 600;
  color:#b44b25;
  padding-left: 600px;
  padding-top: 50px;
}

.the-rest p {
  max-width: 1200px;
  margin: 40px auto;
  font-family: 'Hind Kochi', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #b44b25;
  padding-left: 600px;
}

.aboutpic { 
  width: 350px; 
  height: auto; 
  position: absolute;
  top: 470px;
  left: 120px; 
  border: 2px solid #b44b25; 
  border-radius: 10px; 
}