.site-footer {
  width: 100%;
  height: 80px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-top: 100px;
}

.footer-text {
  color: rgb(56, 56, 56);
  font-family: 'Hind Kochi', sans-serif;
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}

.footer-button {
  background-color: #F8F8F8;
  color: #b44b25;
  border: none;
  padding: 6px 20px;
  font-size: 14px;
  font-family: 'Hind Kochi', sans-serif;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
  font-weight: 600;
}

.footer-button:hover {
  transform: scale(1.05);
}
