body.home-body {
  margin: 0;
  padding: 0;
  display: block;
  background: transparent;
  overflow-x: hidden;
}

.home-page {
  position: relative;
  min-height: 250vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background: transparent;
}

@media (max-height: 800px) {
  .home-page {
    min-height: 285vh;
  }
}

.home-body .bg-dogs, body.home-body .bg-dogs {
  position: absolute;
  top: 0vh;
  left: -15vw;
  width: 130vw;
  height: 130vh;
  object-fit: cover;
  z-index: 1;
}

.bg-cats {
  position: absolute;
  top: 180vh;
  left: 0vh;
  width: 130vw;
  height: 130vh;
  object-fit: cover;
  z-index: 1;
}

@media (min-height: 801px) {
  .bg-cats {
    top: 150vh;
    height: 100vh;
  }
}

@media (max-height: 800px) {
  .bg-cats {
    top: 132vh;
    height: 150vh;
  }
}



.bg-bothWaves {
  position: absolute;
  top: 65vh;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}

.MainButton {
  position: absolute;
  top: 40vh;
  left: 50%;
  width: 400px;
  height: 60px;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #F8F8F8;
  color: #b44b25;
  border: none;
  padding: 17px 30px 13px 30px;
  font-size: 30px;
  font-family: 'Hind Kochi', sans-serif;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.ButtonRowHome {
  position: absolute;
  top: 96vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.ThreeButtonsHome {
  width: 320px;
  height: 400px;
  background-color: #F8F8F8;
  color: #b44b25;
  border: none;
  padding: 17px 30px 13px 30px;
  font-size: 30px;
  font-family: 'Hind Kochi', sans-serif;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items:baseline;
  justify-content: center;
}

.newest-arrivals-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: 40px;
  padding-top: 28px;
}

.newest-arrivals-title {
  color: #b44b25;
  font-size: 30px;
  line-height: 1.1;
}

.newest-arrivals-list {
  margin: 0;
  padding-left: 20px;
  color: #2e2e2e;
  font-size: 24px;
  line-height: 2;
}

.discussion-board-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: 40px;
  padding-top: 28px;
}

.discussion-board-title {
  color: #b44b25;
  font-size: 30px;
  line-height: 1.1;
}

.discussion-board-list {
  margin: 0;
  padding-left: 20px;
  color: #2e2e2e;
  font-size: 24px;
  line-height: 2;
}

.shelter-info-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: 40px;
  padding-top: 28px;
}

.shelter-info-title {
  color: #b44b25;
  font-size: 30px;
  line-height: 1.1;
}

.shelter-info-list {
  margin: 0;
  padding-left: 20px;
  color: #2e2e2e;
  font-size: 24px;
  line-height: 2;
  font-weight: 100;
}

